# SPDX-FileCopyrightText: 2017 Ilya Bizyaev <bizyaev@zoho.com>
#
# SPDX-License-Identifier: CC0-1.0

[submodule "3rdparty/breeze-icons"]
	path = 3rdparty/breeze-icons
	url = https://invent.kde.org/frameworks/breeze-icons.git
